<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Score!</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('.static', filename='styles/style.css') }}">
        <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('.static', filename='js/login.js') }}"></script>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('.static', filename='images/favicon.png') }}"/>

    </head>
    <body>

        <div class="background"></div>

        <a id="toggleNav">&#9776</a>
        <img id="logo" src="../static/images/score.png" alt="Score logo">

        <div class="container">

            <div>
                <div class="slideNav">
                    <nav>
                        <a href="{{ url_for('artist') }}">Artists</a>
                        <a href="{{ url_for('index') }}">Genres</a>
                        <a>Recommender</a>
                        <a>Audio Player</a>
                    </nav>
                </div>
            </div>


            <div class="musicinfo">

                <h1>Login</h1>
                <table>
                    <form>
                        <tr>
                            <td>Username</td>
                            <td><input id="username" type="text" name="username" placeholder="John"></td>
                        </tr>

                        <tr>
                            <td>Password</td>
                            <td><input id="password" type="text" name="password" placeholder="Password"></td>
                        </tr>

                        <tr>
                            <td><input id="submit" type="submit" value="Login"></td>
                        </tr>
                    </form>

                </table>

            </div>

        </div>
        <script type="text/javascript" src="{{ url_for('.static', filename='js/navigation.js') }}"></script>
    </body>
</html>