<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Score!</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('.static', filename='styles/style.css') }}">
        <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-3.3.1.min.js') }}"></script>

        <link rel="shortcut icon" type="image/png" href="{{ url_for('.static', filename='images/favicon.png') }}"/>
        <script>
            let total = " ";

            let a = [{"song":"Margot Meets The Melody Maker - Torch (Extrawelt Remix)", "score": "0.94173 "},
                {"song":"The Pharcyde - Bullsh*t (Instrumental)", "score": "0.900025"},
                {"song":"The Roots - No Alibi", "score": "0.886515"},
                {"song":"Mickey Hart & Zakir Hussain - Dances With Wood", "score": "0.886018"},
                {"song":"LFO (Pop) - Summer Girls", "score": "0.800822"}];

            let b = [{"song":"Corciolli - Rain", "score": "0.979566"},
                {"song":" Steve Lacy - Alone Together", "score": "0.948645"},
                {"song":"Corciolli - Work (Water)", "score": "0.935583"},
                {"song":"Peggy Lee & Art Lund (Holiday) - Winter Weather", "score": "0.935409"},
                {"song":" Daevid Allen - Untitled", "score": "0.93442"}];

            let c = [{"song":"Black Lips - Can't Dance", "score": "0.991935"},
                {"song":"ABORTED - Clinical Colostomy", "score": "0.968334"},
                {"song":"The Verve - Blue (USA Mix)", "score": "0.954486"},
                {"song":"Guardian - Power Of Love", "score": "0.953856"},
                {"song":"Jay Reatard - We Who Wait", "score": "0.94404"}];

            let d = [{"song":"Herman's Hermits - Listen People", "score": "0.908942"},
                {"song":"Irish Rovers (Holiday) - We Wish You A Merry Christmas", "score": "0.754689"}
                ,{"song":" Irish Rovers (Holiday) - The Holly Bears The Crown", "score": "0.696739"},
                {"song":" Irish Rovers (Holiday) - God Rest Ye Merry Gentlemen", "score": "0.667116"},
                {"song":"Rachel Harrington - Shoeless Joe", "score": "0.647281"}];

            let e = [{"song":" Verdi. Giuseppe - Luisa Miller. Opera", "score": "0.999974"},
                {"song":" Cherubini. Luigi - Requiem No.2. For Male Chorus & Orchestra In D Minor", "score": "0.998933"},
                {"song":" Verdi. Giuseppe - La Traviata. Opera", "score": "0.998594"},
                {"song":"Mahler. Gustav - Symphony No. 10 In F Sharp Minor (realization By Deryck Cooke)", "score": "0.998329"},
                {"song":"Antonio Vivaldi (Holiday) - Gloria In D Major. Et In Terra Pax", "score": "0.998277"}];

            let f = [{"song":"Liquid Mind - I Am Willing", "score": "0.900176"},
                {"song":"No Age - My Life's Alright Without You", "score": "0.763118"},
                {"song":"Tokyo Police Club - Juno", "score": "0.746604"},
                {"song":"Ascend - The Obelisk Of Kolob", "score": "0.742362"},
                {"song":"Band Of Horses - The Funeral", "score": "0.742355"}];


            function myFunction(){
                let total = " ";
                let hiphop =document.getElementById('Hiphop');
                let Jazz = document.getElementById('Jazz');
                let Festival = document.getElementById('Festival');
                let Country = document.getElementById('Country');
                let Classical = document.getElementById('Classical');
                let Rock = document.getElementById('ROck');

                if (hiphop.checked){
                    for(i = 0; i < a.length;i++){
                        total+=a[i]["song"]+", "+"\n"+"\n";

                    }
                    alert(total);
                }
                if (Jazz.checked){
                    for(i = 0; i < b.length;i++){
                        total+=b[i]["song"]+","+"\n"+"\n";

                    }
                    alert(total);

                }
                if (Festival.checked){
                    for(i = 0; i < c.length;i++){
                        total+=c[i]["song"]+","+"\n"+"\n";

                    }
                    alert(total);
                }
                if (Country.checked){
                    for(i = 0; i < d.length;i++){
                        total+=d[i]["song"]+","+"\n"+"\n";

                    }
                    alert(total);
                }
                if (Classical.checked){
                    for(i = 0; i < e.length;i++){
                        total+=e[i]["song"]+","+"\n"+"\n";

                    }
                    alert(total);
                }
                if (Rock.checked){
                    for(i = 0; i < f.length;i++){
                        total+=f[i]["song"]+","+"\n"+"\n";

                    }
                    alert(total);

                }
                document.getElementById("final").innerHTML = total;



            }

        </script>
    </head>
    <body>

        <div class="background"></div>

        <a id="toggleNav">&#9776</a>
        <img id="logo" src="../static/images/score.png" alt="Score logo">

        <div class="container">

            <div>
                <div style="height: 900px;" class="slideNav">
                    <nav >
                        <a href="{{ url_for('artist') }}">Artists</a>
                        <a href="{{ url_for('index') }}">Genres</a>
                        <a>Recommender</a>
                        <a>Audio Player</a>
                    </nav>
                </div>
            </div>



        <div style="position: absolute; top: 200px; font-size: 25px; width: 500px; right: 15px">
                <p id="final"></p>
            </div>
        <div >
            <p> Select The Genres That Interest You</p>
            <div style="position: absolute; top: 60px; font-size: 25px;">
                <input type="checkbox" id="Hiphop" > Hip-Hop
            </div>
            <div style="position: absolute; top: 120px; font-size: 25px;">
                <input type="checkbox" id="Jazz"> Jazz

            </div>
            <div style="position: absolute; top: 180px; font-size: 25px;">
                <input type="checkbox" id="Festival"> Festival

            </div>
            <div style="position: absolute; top: 240px; font-size: 25px;">
                <input type="checkbox" id="Country"> Country

            </div>
            <div style="position: absolute; top: 300px; font-size: 25px;">
                <input type="checkbox" id="Classical"> Classical

            </div>
            <div style="position: absolute; top: 360px; font-size: 25px;">
                <input type="checkbox" id="ROck"> Rock

            </div>
            <div style="position: absolute; top: 420px; font-size: 25px;">
                <button onclick="myFunction()">
                    Submit
                </button>

            </div>

        </div>

        </div>
        <script type="text/javascript" src="{{ url_for('.static', filename='js/navigation.js') }}"></script>
    </body>
</html>